.footer-container {
    height: 100px;
    width: 100%;
    border-top: 2px solid #f0f0f0;
    padding: 20px 20px 10px 20px;
    bottom: 0;
    margin-top: 100px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
}
.footer-btn-menu {
    font-size: 14;
    font-weight: 600;
    color: #5b5b5b;
}

.footer-btn-menu:hover {
    color: #555555;
    background-color: aliceblue;
    border: none;
    text-decoration: none;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-bottom {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.footer-copyright {
    font-weight: 500;
    color: #5b5b5b;
    text-align: center;
}
.footer-brand {
    font-weight: bold;
    font-size: 16px;
}

.footer-logo {
    height: 100%;
    width: 80px;
}

